body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#background {
  margin: 0;
  background-image: url(https://images6.alphacoders.com/370/370183.jpg);
  background-position: center;
  background-size: cover;
  height: 100%;
}

ul {
  position: absolute;
  margin: 0;
  padding: 0;
  border: 3px #ffbb34 solid;
  border-radius: 10px;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
  left: 30%;
  height: 30%;
  top: 30%;
}

p {
  color: #ffbb34;
  font-size: 600%;
  font-family: Arial, Helvetica, sans-serif;
}

#dvd {
  position: absolute;
  height: 120px;
  width: 256px;
  background-image: url("./klipartz.com.png");
  background-position: center;
}
